# Скрытая папка настроек и кэша Visual Studio
.vs/

# Папки сборки проекта и временные файлы компиляции
x64/
Debug/
Release/
*.user
*.suo
*.db
*.opendb

# Сторонние библиотеки и зависимости (не захламляем репозиторий)
Include/
glad/
glfw-3.4.bin.WIN64/
WebSocke.82cde1a8/
